@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
  --hauteur-menu: 60px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
}

body{
  background-color: #f5f5f5;
}

nav {
  text-align: center;
  display: block;
  margin: auto;
  width: 50%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: #E7D000;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li:hover > a{
  color: #2169EC;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li img{
  display: inline-block;
  width: 30px;
}

li a {
  text-decoration: none;
  color: black;
}

.menu-deroulant > a:after{
  content: 'â¯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.dropdown-content {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  border-radius: 2px;
  background-color: white;
}

.menu-deroulant:hover > .dropdown-content {
  animation: apparitionSousMenu 1s forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.dropdown-content > li:hover {
  background-color: rgba(211, 211, 211, 0.2);
}

.dropdown-content > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;
}

.dropdown-content > li:hover > a {
  color: rgb(0, 0, 0);
}

button{
  position:fixed;
  bottom:1%;
  right:25%;
  z-index:9999;
  border: none;
  background: #f5f5f5;
  cursor: pointer;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

button:hover{
  background-color: rgb(228, 228, 228);
  transition: all 0.6s ease-in-out;
}

.modifIcons {
  padding-left: 20px;
}

.modifIcons:hover {
  cursor : pointer;
}

.divMainTitle {
  width: 100%;
  background-color: rgba(133, 133, 133, 0.299);
  height: auto;
  padding: 15px;
  margin-bottom: 80px;
  position: sticky;
}

#mainTitle {
  text-align: center;
}