@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    background-image: url("./img/fondEcran.svg");
    display: flex;
    width: 100%;
    height: 628px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
}

form{
    position: relative;
    margin-top: 100px;
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
}

form h1{
    color: #333;
    text-align: center;
}

form .logo p{
    text-align: center;
}

form .inputs{
    display: flex;
    flex-direction: column;
}

form .inputs input[type="email"], input[type="password"]{
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    outline: none;
}

form button{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: #E7D000;
    color: #fff;
    outline: none;
    cursor: pointer;
}